
<div class="container">
  <div class="row justify-content-md-center">
    <div class="col-sm-8 col-md-4">
        <p>
            <ngb-alert  *ngIf="loginMessage" [dismissible]="true" (close)="closeAlert()">
              <strong>Warning!</strong> Better check yourself.</ngb-alert>
          </p>

        <form [formGroup]="loginForm" (ngSubmit)="OnFormSubmit(loginForm)">
          <div class="form-group">
            <label for="exampleInputEmail1">Email ID</label>
            <input type="text" formControlName="userName" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">Password</label>
            <input type="password" formControlName="password" class="form-control" id="exampleInputPassword1" placeholder="Password" required>
          </div>
          <div class="form-check">
            <label class="form-check-label">
              <input type="checkbox" formControlName="remember" class="form-check-input">
              Remember me
            </label>

          </div>
          <button type="submit" [disabled]="!loginForm.valid" class="btn btn-primary">Log In</button>
          <a routerLink="/pages/register" class="btn">Register</a>
        </form>
      </div>  
  </div>
</div>

<!-- <p>Form Value: {{ loginForm.value | json }} </p>
<p> Form status {{ loginForm.status | json}} </p> -->