<nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand">
              <img src="assets/logo.svg" class="logo bd-booticon">
            </a>
            <span class="navbar-brand">Resume Builder</span>
        </div>
        <ul class="navbar-nav" *ngIf="loginName">
             <li class="nav-item"><a class="nav-link">Hi, {{ loginName }} </a></li>
            <li class="nav-item"><a [routerLink]="['/pages/login']" class="nav-link">Logout</a></li>
        </ul>
    </div>
</nav>